@import './normalize';

@import './colors';
@import './variables';
@import './mixins';
@import './media';
@import './utils';
@import './effects/glitch';

@import './font/lo';

@import './base';

@import './core/variables.sass';
@import './core/helpers/string.sass';
@import './core/helpers/math.sass';
@import './core/typography.sass';
@import './core/animations.sass';
@import './core/flex.sass';
@import './core/tech.sass';
@import './core/colors.sass';
@import './core/transitions.sass';

:root {
  --n-color-primary   : #717bd3;
  --n-color-secondary : #f37f21;
  --n-color-danger    : #f3212b;
  --n-color-success   : #4caf50;
  --n-color-warning   : #f3e821;
  --n-color-dark      : #191919;
  --n-color-light     : #ffffff;
  --n-color-admin     : #f32194;
  --n-color-info      : #f32194;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'LO Pro Font', Arial, sans-serif;
  letter-spacing: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
}


.logo {
  height: 20px;
}

.module {
  width: 100%;
}

.border-block {
  border: 1px solid $c--dark-border;
  border-radius: $br--main;
}

.main-loader {
  z-index: 100000;
  > img {
    height: 7vh;
    animation: logo-loading 2s ease-out infinite;
  }
}

@import '../components/ui/block/block';
@import '../components/ui/btn/button';
@import '../components/ui/calendar/calendar';
@import '../components/ui/card/card.sass';
@import '../components/ui/chip/chip';
@import '../components/ui/divider/divider';
@import '../components/ui/field/field';
@import '../components/ui/filter/filter';
@import '../components/ui/form/form';
@import '../components/ui/form-components/form-components';
@import '../components/ui/icon/icon';
@import '../components/ui/input/input';
@import '../components/ui/layout/layout';
@import '../components/ui/link/link';
@import '../components/ui/list/list.sass';
@import '../components/ui/loader/loader';
@import '../components/ui/menu/menu';
@import '../components/ui/modal/modal';
@import '../components/ui/notice/notice';
@import '../components/ui/notifications/notifications';
@import '../components/ui/page-nav/page-nav';
@import '../components/ui/progress-bar/progress-bar';
@import '../components/ui/select/select';
@import '../components/ui/spinner/spinner';
@import '../components/ui/svg/svg';
@import '../components/ui/tabs/tabs';
@import '../components/ui/text-wrap/text-wrap';
@import '../components/ui/toolbar/toolbar';

@import './pages/index';

@import './libs/tooltip';
@import './libs/quill';

@import './icon/style';