.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z--modal;
  background-color: rgba($c--dark, .5);

  display: flex;
  flex-direction: column;
  
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &.theme_dark,
  .theme_dark & {
    background-color: $c--light-secondary;
    .modal-box {
      background-color: $c--dark-primary;
    }
    .modal-box__close {
      color: white;
    }
  }
  &.hidden {
    display: none;
  }
}

.modal-slide {
  &-enter-active {
    transition: opacity $dur--n, transform $dur--n;
  }
  &-leave-active {
    transition: opacity $dur--n, transform $dur--n;
  }
  &-enter-to,
  &-leave {
    transform: translateX(0);
    opacity: 1;
  }
  &-enter,
  &-leave-to {
    transform: translateX(100%);
    opacity: 0;
  }
}


.modal-box {
  position: relative;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 48px;
  background-color: white;
  border-radius: $br--main;
  box-shadow: $elav--16;
  &.is-call-module {
    background-color: unset;
    margin: auto;
  }
  &.size-s {
    width: $w--narrow;
  }
  &.size-n {
    width: $w--normal;
  }
  &.size-l {
    width: $w--wide;
  }
  &.size-xl {
    width: $w--container;
  }
  &.size-full {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  &.is-transparent {
    background-color: $c--transparent;
  }
}

.modal-box__loader {
  display: flex;
  padding: $gut--n;
  border-radius: $br--main;
  background-color: white;
}

.modal-box__close {
  z-index: 6;
  display: flex;
  position: absolute;
  top: 0;
  right: -40px;
  padding: 8px;
  // color: $c--light-secondary;
  color: $c--light-secondary;
  cursor: pointer;
  &.modal-close_outside {
    color: white;
    top: -25px;
    right: -25px;
  }
}

// .modal-header {
//   z-index: 5; // for sticky
//   top: 0; // for sticky
//   position: relative;
//   // padding: 15px 50px 15px 20px;
//   padding: 15px 20px;
//   border-radius: 5px 5px 0 0;
//   // background-color: $c--primary;
//   background-color: $c--light;
//   border-bottom: 1px solid;
//   border-color: $c--dark-hint;
//   // overflow: hidden;
//   &.modal-header_light {
//     background-color: $c--light-primary;
//     border-bottom: 1px solid;
//     border-color: $c--dark-hint;
//     .modal-title {
//       color: $c--dark-primary;
//     }
//   }
//   &.flex-center {
//     padding-left: 40px;
//   }
// }

.modal-box__header {
  display: flex;
  align-items: center;
  background-color: $c--dark-primary;
  padding: $gut--n;
  border-radius: $br--main $br--main 0 0;
  &.with-action {
    justify-content: space-between;
    .modal-box__title {
      text-align: left;
    }
  }
}
.modal-box__title {
  flex: 1;
  color: white;
  text-align: center;
  @include text-h3-bold;
}

// .modal-title {
//   font-size: 20px;
//   line-height: 30px;
//   font-weight: 500;
//   // color: $c--light-primary;
//   color: $c--dark-primary;
//   & + * {
//     margin-top: 10px;
//   }
// }

// .modal-block {
//   border-bottom: 1px solid;
//   border-color: $c--dark-hint;
// }

// .modal-hint {
//   border-bottom: 1px solid;
//   border-color: $c--dark-hint;
//   background-color: $c--dark-tertiary;
//   padding: 20px;
// }

// .modal-body {
//   z-index: 3;
//   padding: 20px;
//   >*+* {
//     margin-top: 10px;
//   }
//   &.modal-body_only_side {
//     padding: 0 20px;
//   }
//   &.modal-body_only_vert {
//     padding: 20px 0;
//   }
//   &.modal-body_padding_n {
//     padding: 10px;
//   }
//   &.modal-body_margin {
//     padding: 0;
//     margin: 20px;
//   }
// }

// .modal-footer {
//   z-index: 4; // for sticky
//   bottom: 0; // for sticky
//   padding: 20px;
//   border-top: 1px solid;
//   border-color: $c--dark-hint;
//   display: flex;
//   justify-content: center;
//   background-color: white;
//   border-radius: 0 0 5px 5px;
//   >*+* {
//     margin-left: 10px;
//   }
// }