.n-notification {
  display: block;
  position: relative;
  width: 300px;
  overflow: hidden;

  border-radius: $br--main;
  margin-bottom: $gut--s;
  
  &_main {
    background-color: $c--dark-secondary;
    color: $c--light;
  }
  
  &_system {
    &.is-info {
      color: pattern-color-level($c--primary, -30);
      border-color: $c--primary;
      background-color: pattern-color-level($c--primary, 80);
    }
    &.is-success {
      color: pattern-color-level($c--success, -30);
      border-color: $c--success;
      background-color: pattern-color-level($c--success, 80);
    }
    &.is-warning {
      color: pattern-color-level($c--warning, -50);
      border-color: $c--warning;
      background-color: pattern-color-level($c--warning, 70);
    }
    &.is-error {
      color: pattern-color-level($c--danger, -20);
      border-color: $c--danger;
      background-color: pattern-color-level($c--danger, 80);
    }
  }
}
.n-notification__header {
  padding: $gut--xs $gut--s;
}

.n-notification__container {
  padding: $gut--xs $gut--s $gut--s;
  
  .n-notification_system & {
    padding: $gut--s;
  }
  .n-notification_main & {
    display: flex;
    color: $c--light;
  }
}
.n-notification__avatar {
  padding-right: $gut--n;
}
.n-notification__title {
  @include text-body-n-bold;
}
.n-notification__body {
  @include text-body-n;
}
.n-notification__timer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: $c--light-primary;
  transition: width $dur--s;
}

.n-notifications-container {
  z-index: $z--notifications;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 $gut--s;
}